* {
	margin: 0px; padding: 0px;
}
body {
	line-height: 2; font-size: 12px;
}
ol {
	list-style: none;
}
ul {
	list-style: none;
}
a {
	color: rgb(51, 51, 51); text-decoration: none;
}
a:hover {
	color: rgb(52, 92, 162);
}
img {
	border: 0px currentColor; border-image: none; vertical-align: middle;
}
table {
	border-collapse: collapse; border-spacing: 0;
}
.clear {
	height: 0px; line-height: 0; overflow: hidden; clear: both; font-size: 0px;
}
.Font1 {
	font-family: "Î¢ÈíÑÅºÚ"; font-size: 18px;
}
.Font2 {
	color: rgb(255, 255, 255); font-family: "Î¢ÈíÑÅºÚ"; font-size: 14px;
}
.bannerw {
	background: url("../images/body_bg.jpg") repeat-x; width: 100%; height: 200px;
}
.bannerw .banner {
	background: url("../images/banner.jpg") no-repeat; margin: 0px auto; width: 1190px; height: 200px; padding-left: 90px;
}
.bannerw .banner .old {
	width: 100%; height: 30px; text-align: right; line-height: 30px;
}
.bannerw .banner .old a {
	color: rgb(255, 255, 255); text-decoration: underline;
}
.bannerw .banner .logo {
	width: 360px; height: 69px; margin-top: 15px;
}
.bannerw .banner .nav {
	width: 100%; height: 36px; line-height: 36px; margin-top: 50px;
}
.bannerw .banner .nav ul li {
	color: rgb(255, 255, 255); line-height: 36px; letter-spacing: 10px; margin-left: 15px; float: left;
}
.bannerw .banner .nav ul li a {
	color: rgb(255, 255, 255);
}
.main {
	margin: 20px auto 0px; width: 1100px; min-height: 400px;
}
.main .box01 {
	width: 100%; height: 164px;
}
.main .box01 .search {
	background: url("../images/ser_bg.jpg") no-repeat; width: 614px; height: 164px; padding-right: 10px; padding-left: 55px; float: left;
}
.main .box01 .search .serleft {
	width: 441px; height: 120px; margin-top: 30px; float: left;
}
.main .box01 .search .serleft .hd {
	width: 441px; height: 32px;
}
.main .box01 .search .serleft .hd ul li {
	width: 86px; text-align: center; color: rgb(255, 255, 255); line-height: 32px; float: left;
}
.main .box01 .search .serleft .hd ul li:hover {
	background: rgb(47, 142, 245);
}
.main .box01 .search .serleft .hd ul li.on {
	background: rgb(47, 142, 245);
}
.main .box01 .search .serleft .bd {
	width: 441px; height: 98px; color: rgb(255, 255, 255); overflow: hidden;
}
.main .box01 .search .serleft .bd .stxt {
	background: url("../images/ser_txtbg.jpg") no-repeat; border: 0px currentColor; border-image: none; width: 430px; height: 36px; color: rgb(255, 255, 255); line-height: 30px; padding-left: 11px;
}
.main .box01 .search .serleft .bd .sbtn {
	background: url("../images/but_bg.jpg") no-repeat; border: 0px currentColor; border-image: none; width: 85px; height: 20px; color: rgb(255, 255, 255); line-height: 20px; margin-top: 10px; margin-left: 20px; float: right; cursor: pointer;
}
.main .box01 .search .serleft .bd .tm {
	color: rgb(255, 255, 255); margin-top: 5px; margin-left: 10px;
}
.main .box01 .search .dlright {
	width: 150px; height: 120px; color: rgb(255, 255, 255); margin-top: 10px; float: right;
}
.main .box01 .search .dlright .title {
	width: 100%; height: 32px; text-align: center; line-height: 32px;
}
.main .box01 .search .dlright .landnr ul li {
	width: 100%; line-height: 28px; vertical-align: middle;
}
.main .box01 .search .dlright .landnr .log_txt {
	border-radius: 5px; border: 0px currentColor; border-image: none; width: 90px; height: 22px; line-height: 22px;
}
.main .box01 .search .dlright .landnr .log_but {
	background: url("../images/but_dlbg.png") no-repeat; border: 0px currentColor; border-image: none; width: 48px; height: 20px; color: rgb(255, 255, 255); line-height: 20px; margin-left: 90px; cursor: pointer;
}
.main .box01 .search .dlright .landnr .log_txtyy {
	border-radius: 5px; border: 0px currentColor; border-image: none; width: 45px; height: 22px; line-height: 22px; margin-top: 3px; float: left;
}
.main .box01 .kl {
	background: rgb(66, 134, 207); width: 408px; height: 164px; float: right;
}
.main .box01 .kl ul li {
	width: 136px; height: 110px; text-align: center; margin-top: 30px; float: left;
}
.main .box01 .kl ul li p {
	width: 100%; text-align: center; color: rgb(255, 255, 255); line-height: 22px;
}
.main .box02 {
	width: 100%; height: 163px; margin-top: 20px;
}
.main .box02 .zyzs {
	width: 407px; height: 163px; float: left;
}
.main .box02 .news {
	background: url("../images/note_bg.jpg") no-repeat; padding: 5px 4px 5px 195px; width: 240px; height: 153px; margin-left: 10px; float: left;
}
.main .box02 .news ol {
	list-style-type: decimal;
}
.main .box02 .news ol li {
	width: 240px; line-height: 30px; overflow: hidden; list-style-position: inside; white-space: nowrap; -ms-text-overflow: ellipsis; -o-text-overflow: ellipsis;
}
.main .box02 .news ol li span {
	width: 80px; text-align: center; color: rgb(255, 0, 0); margin-left: 5px;
}
.main .box02 .zytek {
	background: rgb(50, 101, 156); width: 244px; height: 163px; color: rgb(255, 255, 255); float: left;
}
.main .box02 .zytek a {
	color: rgb(255, 255, 255);
}
.main .box02 .zytek .ydlibrary {
	width: 121px; height: 100px; text-align: center; padding-top: 20px; border-right-color: rgb(204, 204, 204); border-bottom-color: rgb(204, 204, 204); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid; float: left;
}
.main .box02 .zytek .wxlibrary {
	width: 121px; height: 100px; text-align: center; padding-top: 20px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; float: left;
}
.main .box02 .zytek .tssjk {
	width: 121px; height: 42px; text-align: center; line-height: 42px; border-right-color: rgb(204, 204, 204); border-right-width: 1px; border-right-style: solid; float: left;
}
.main .box02 .zytek .wxcenter {
	width: 121px; height: 42px; text-align: center; line-height: 42px; float: left;
}
.main .box03 {
	width: 100%; height: 161px; margin-top: 20px;
}
.main .box03 .zydt {
	background: url("../images/zydt.jpg") no-repeat; padding: 5px 4px 5px 195px; width: 333px; height: 151px; float: left;
}
.main .box03 .zydt ol {
	list-style-type: decimal;
}
.main .box03 .zydt ol li {
	width: 333px; line-height: 30px; overflow: hidden; list-style-position: inside; white-space: nowrap; -ms-text-overflow: ellipsis; -o-text-overflow: ellipsis;
}
.main .box03 .zydt ol li a {
	display: inline-block;
}
.main .box03 .zydt ol li span {
	width: 80px; text-align: center; color: rgb(255, 0, 0); margin-left: 5px;
}
.main .box03 .newspic {
	width: 301px; height: 161px; margin-left: 10px; float: left;
}
.main .box03 .newspic .text {
	background: rgba(51, 51, 51, 0.7); width: 301px; height: 30px; text-align: center; line-height: 30px; overflow: hidden; margin-top: 131px; position: absolute;
}
.main .box03 .kslj {
	background: rgb(66, 154, 228); width: 244px; height: 161px; color: rgb(255, 255, 255); float: right;
}
.main .box03 .kslj a {
	color: rgb(255, 255, 255);
}
.main .box03 .kslj .ydlibrary {
	width: 121px; height: 68px; text-align: center; padding-top: 10px; border-right-color: rgb(255, 255, 255); border-bottom-color: rgb(255, 255, 255); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid; float: left;
}
.main .box03 .kslj .wxlibrary {
	width: 121px; height: 68px; text-align: center; padding-top: 10px; border-bottom-color: rgb(255, 255, 255); border-bottom-width: 1px; border-bottom-style: solid; float: left;
}
.main .box03 .kslj .tssjk {
	width: 121px; height: 69px; text-align: center; padding-top: 10px; border-right-color: rgb(255, 255, 255); border-right-width: 1px; border-right-style: solid; float: left;
}
.main .box03 .kslj .wxcenter {
	width: 121px; text-align: center; padding-top: 10px; float: left;
}
.copyright {
	background: rgb(18, 48, 65); margin: 20px auto 0px; width: 1100px; height: 60px; text-align: center; color: rgb(255, 255, 255); line-height: 30px;
}
.copyright a {
	color: rgb(255, 255, 255);
}
.focusBox {
	background: white; font: 12px/1.5 Verdana, Geneva, sans-serif; width: 301px; height: 161px; text-align: left; overflow: hidden; position: relative; font-size-adjust: none; font-stretch: normal;
}
.focusBox .pic img {
	width: 301px; height: 161px; display: block;
}
.focusBox .txt-bg {
	background: rgb(51, 51, 51); width: 100%; height: 36px; bottom: 0px; overflow: hidden; position: absolute; z-index: 1; opacity: 0.4;
}
.focusBox .txt {
	width: 100%; height: 36px; bottom: 0px; overflow: hidden; position: absolute; z-index: 2;
}
.focusBox .txt li {
	height: 36px; bottom: -36px; line-height: 36px; position: absolute;
}
.focusBox .txt li a {
	padding: 0px 0px 0px 10px; color: white; font-size: 12px; font-weight: bold; text-decoration: none; display: block;
}
.focusBox .num {
	right: 8px; bottom: 8px; position: absolute; z-index: 3;
}
.focusBox .num li {
	width: 18px; height: 15px; text-align: center; line-height: 15px; overflow: hidden; margin-right: 1px; float: left; position: relative; cursor: pointer;
}
.focusBox .num li a {
	left: 0px; top: 0px; width: 100%; height: 100%; color: white; text-decoration: none; display: block; position: absolute; z-index: 2;
}
.focusBox .num li span {
	left: 0px; top: 0px; width: 100%; height: 100%; color: white; text-decoration: none; display: block; position: absolute; z-index: 2;
}
.focusBox .num li span {
	background: black; z-index: 1; opacity: 0.5;
}
.focusBox .num li.on a {
	background: rgb(51, 102, 255);
}
.focusBox .num a:hover {
	background: rgb(51, 102, 255);
}
