* {
	margin: 0px; padding: 0px;
}
html {
	-ms-overflow-y: scroll; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}
:focus {
	outline: 0px;
}
img {
	border: 0px currentColor; border-image: none;
}
a img {
	vertical-align: middle;
}
body {
	line-height: 1; font-family: ËÎÌå;
}
ol {
	list-style: none;
}
ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
q {
	quotes: none;
}
blockquote::before {
	content: none;
}
blockquote::after {
	content: none;
}
q::before {
	content: none;
}
q::after {
	content: none;
}
table {
	border-collapse: collapse; border-spacing: 0;
}
.clear {
	width: 100%; height: 0px; line-height: 0; overflow: hidden; clear: both; font-size: 0px; display: block; _display: inline;
}
.none {
	display: none;
}
.hidden {
	visibility: hidden;
}
.clearfix::after {
	height: 0px; clear: both; display: block; visibility: hidden; content: ".";
}
.clearfix {
	display: block;
}
body {
	color: rgb(51, 51, 51);
}
p {
	color: rgb(51, 51, 51);
}
body {
	
}
a {
	color: rgb(51, 51, 51); text-decoration: none;
}
a:hover {
	color: rgb(236, 60, 27); text-decoration: none;
}
.wp-wrapper {
	width: auto; background-color: rgb(255, 255, 255);
}
.wp-wrapper .wp-inner {
	margin: 0px auto; width: auto; max-width: 998px;
}
.wp-header {
	background-color: rgb(0, 105, 134);
}
.wp-header1 {
	background-color: rgb(255, 255, 255);
}
.logo-panel {
	float: left;
}
.logo-window {
	padding: 6% 0px; margin-left: 10px;
}
.logo-window img {
	vertical-align: middle;
}
.wp-head-tools {
	float: right;
}
.lang-panel {
	margin-right: 10px; float: right;
}
.lang-window {
	padding: 6% 0px;
}
.lang-window .wp-menu .menu-item {
	float: left;
}
.lang-window .wp-menu .menu-item a.menu-link {
	margin: 0px 3px; height: 20px; color: rgb(235, 180, 40); line-height: 20px; font-size: 14px; display: inline-block;
}
.lang-window .wp-menu .menu-item a.menu-link:hover {
	color: rgb(255, 198, 97); text-decoration: underline;
}
.search-panel {
	width: 30%; clear: right; margin-right: 10px; margin-bottom: 12px; float: right;
}
.search-window {
	border-radius: 5px; overflow: hidden;
}
.wp-search {
	position: relative;
}
.wp-search form {
	display: block;
}
.wp-search .search-input {
	margin-right: 40px; margin-left: 10px;
}
.wp-search .search-input input.search-title {
	background: none; padding: 7px 0px; outline: 0px; border: 0px currentColor; border-image: none; width: 100%; height: 20px; color: rgb(255, 255, 255); line-height: 20px; font-size: 16px;
}
.wp-search .search-btn {
	top: 50%; width: 40px; height: 34px; right: 0px; margin-top: -17px; position: absolute;
}
.wp-search .search-btn input.search-submit {
	background: url("img/search.png") no-repeat center; outline: 0px; border: 0px currentColor; border-image: none; width: 100%; height: 34px; cursor: pointer;
}
.top-nav-panel {
	height: 25px; margin-right: 6px; margin-bottom: 12px; float: right;
}
.top-nav-panel .wp-menu .menu-item {
	background: url("../images/nav_bg.jpg") repeat-x left; padding: 0px 15px 0px 2px; float: left; display: inline-block;
}
.top-nav-panel .wp-menu .menu-item a.menu-link {
	background: url("images/nav_bg.jpg") no-repeat center; margin: 0px 6px; height: 30px; color: rgb(255, 255, 255); line-height: 30px; font-size: 13px; display: inline-block;
}
.top-nav-panel .wp-menu .menu-item a.menu-link:hover {
	color: rgb(213, 213, 213);
}
.top-nav-panel .wp-menu .i5.menu-item {
	padding: 0px 16px 0px 5px;
}
.wp-navi {
	margin: 10px 0px 0px; height: 30px;
}
.main-nav-panel {
	
}
.menu-switch-arrow {
	display: none;
}
.main-nav-panel .wp-menu {
	margin: 0px auto;
}
.main-nav-panel .wp-menu .menu-item {
	background: url("../images/li.gif") no-repeat left; float: left; display: inline-block; position: relative; z-index: 100;
}
.main-nav-panel .wp-menu .i1.menu-item {
	background: none;
}
.main-nav-panel .wp-menu .menu-item a.menu-link {
	padding: 0px 30px; height: 30px; color: rgb(255, 255, 255); line-height: 30px; font-size: 13px; display: inline-block;
}
.main-nav-panel .wp-menu .i1.menu-item a.menu-link {
	padding: 0px 38px;
}
.main-nav-panel .wp-menu .menu-item a.menu-link:hover {
	margin: 1px 0px; height: 28px; color: rgb(0, 105, 134); line-height: 28px; text-decoration: none; background-color: rgb(255, 255, 255);
}
.main-nav-panel .sub-menu {
	left: 0px; top: 30px; display: none; position: absolute; z-index: 100; background-color: rgb(242, 242, 242);
}
.main-nav-panel .sub-menu .sub-item {
	vertical-align: top; border-bottom-color: rgb(221, 221, 221); border-bottom-width: 1px; border-bottom-style: solid; white-space: nowrap; position: relative; _zoom: 1;
}
.main-nav-panel .sub-menu .sub-item a {
	padding: 0px 10px; height: 26px; color: rgb(39, 39, 39); line-height: 26px; display: block;
}
.main-nav-panel .sub-menu .sub-item a:hover {
	color: rgb(233, 152, 57); display: block;
}
.main-nav-panel .sub-menu .sub-menu {
	left: 100%; top: 0px; border-left-color: rgb(221, 221, 221); border-left-width: 1px; border-left-style: solid; z-index: 200; background-color: rgb(230, 230, 230);
}
.wp-navi .navi-slide-head {
	padding: 0px 10px; height: 30px; display: none;
}
.wp-navi .navi-slide-head .navi-slide-title {
	color: rgb(255, 255, 255); line-height: 30px; font-size: 18px; font-weight: normal; float: left; display: inline-block;
}
.wp-navi .navi-slide-head .navi-slide-arrow {
	background: url("../images/fffff.png") no-repeat 50%; width: 34px; height: 30px; float: right; display: block;
}
.navi-aside-page {
	position: fixed;
}
.navi-aside-toggle {
	background: url("img/menu-icon-arrow-white.png") no-repeat 50%; left: 0px; top: 50%; width: 34px; height: 34px; margin-top: -17px; display: none; position: absolute; cursor: pointer;
}
.wp-navi-aside {
	left: 0px; top: 0px; right: 0px; bottom: 0px; display: none; position: fixed; z-index: 1000;
}
.wp-navi-aside .navi-aside-mask {
	background: rgba(0, 0, 0, 0.1); width: 100%; height: 100%;
}
.wp-navi-aside-active {
	display: block;
}
.wp-navi-aside .aside-inner {
	background: rgb(37, 37, 37); left: -216px; top: 0px; width: 216px; bottom: 0px; position: fixed; z-index: 1002; -ms-overflow-y: auto; max-width: 100%; -webkit-overflow-scrolling: touch;
}
.wp-navi-aside .aside-inner::after {
	background: rgba(0, 0, 0, 0.6); top: 0px; width: 1px; right: 0px; bottom: 0px; display: block; position: absolute; content: ""; box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.6);
}
.wp-navi-aside .navi-aside-head {
	background: rgb(51, 51, 51); margin-top: 0px; border-top-color: rgba(0, 0, 0, 0.3); border-top-width: 1px; border-top-style: solid; box-shadow: inset 0px 1px 0px rgba(255,255,255,0.05); text-shadow: 0px 1px 0px rgba(0,0,0,0.5);
}
.wp-navi-aside .navi-aside-head .navi-aside-title {
	padding: 7px 10px; color: rgb(119, 119, 119); font-size: 14px; font-weight: normal;
}
.wp-navi-aside .navi-aside-wrap {
	color: rgb(170, 170, 170); border-bottom-color: rgba(0, 0, 0, 0.3); border-bottom-width: 1px; border-bottom-style: solid; box-shadow: 0px 1px 0px rgba(255,255,255,0.05);
}
.wp-navi-aside .navi-aside-wrap li {
	position: relative;
}
.wp-navi-aside .navi-aside-wrap li .menu-switch-arrow {
	background: url("img/menu-switch-arrow.png") no-repeat 30px -25px; top: 0px; width: 50px; height: 35px; right: 0px; color: rgb(246, 246, 246); font-size: 14px; display: block; position: absolute; cursor: pointer;
}
.wp-navi-aside .navi-aside-wrap li .menu-open-arrow {
	background-position: 20px 12px;
}
.wp-navi-aside .navi-aside-wrap li a {
	padding: 8px 30px 8px 15px; color: rgb(199, 199, 199); line-height: 20px; font-size: 14px; text-decoration: none; border-top-color: rgba(0, 0, 0, 0.3); border-top-width: 1px; border-top-style: solid; display: block; box-shadow: inset 0px 1px 0px rgba(255,255,255,0.05); text-shadow: 0px 1px 0px rgba(0,0,0,0.5);
}
.wp-navi-aside .navi-aside-wrap li a:hover {
	outline: 0px; color: rgb(255, 255, 255); background-color: rgb(64, 64, 64);
}
.wp-navi-aside .navi-aside-wrap li a:focus {
	outline: 0px; color: rgb(255, 255, 255); background-color: rgb(64, 64, 64);
}
.wp-navi-aside .navi-aside-wrap li .sub-menu {
	display: none; background-color: rgb(46, 46, 46);
}
.wp-navi-aside .navi-aside-wrap li .sub-menu li a {
	padding-left: 20px;
}
.wp-navi-aside .navi-aside-wrap li .sub-menu .sub-menu {
	background-color: rgb(51, 51, 51);
}
.wp-navi-aside .navi-aside-wrap li .sub-menu .sub-menu li a {
	padding-left: 30px;
}
.wp-navi-aside .navi-aside-wrap li .sub-menu .sub-menu .sub-menu {
	background-color: rgb(52, 52, 52);
}
.wp-navi-aside .navi-aside-wrap li .sub-menu .sub-menu .sub-menu li a {
	padding-left: 40px;
}
.wp-navi-aside .navi-aside-wrap li .sub-menu .sub-menu .sub-menu .sub-menu {
	background-color: rgb(55, 55, 55);
}
.wp-navi-aside .navi-aside-wrap li .sub-menu .sub-menu .sub-menu .sub-menu li a {
	padding-left: 50px;
}
.wp-focus {
	margin: 10px 0px 0px; background-color: rgb(236, 236, 236);
}
.fcous-panel {
	width: 100%;
}
.fcous-panel .focus-window {
	width: 100%; overflow: hidden;
}
.wp-container {
	
}
.wp-main-page .content {
	margin: 0px 0px 10px; width: 48.99%; float: right;
}
.wp-main-page .content .cbox-left {
	width: 48.5%; float: left;
}
.wp-main-page .content .cbox-right {
	width: 48.5%; float: right;
}
.wp-main-page .sidebar {
	background: rgb(238, 238, 238); margin: 0px 0px 10px; width: 50%; float: left;
}
.wp-main-page .sidebar .sbox {
	
}
.wp-post {
	margin-bottom: 10px;
}
.wp-post .post-head {
	height: 30px; margin-bottom: 0px; border-bottom-color: rgb(221, 221, 221); border-bottom-width: 1px; border-bottom-style: solid;
}
.wp-post .post-head .head-bar {
	position: relative;
}
.wp-post .post-head .post-title {
	height: 30px; line-height: 32px; font-size: 16px; font-weight: normal; display: inline-block;
}
.wp-post .post-head .post-more {
	top: 50%; height: 20px; right: 0px; line-height: 20px; margin-top: -10px; position: absolute;
}
.wp-post .post-head .post-more a {
	color: rgb(66, 66, 66); text-decoration: none;
}
.wp-post .post-body {
	
}
.post-news .news-item {
	height: 24px; line-height: 24px; overflow: hidden; vertical-align: top; position: relative;
}
.post-news .news-item .meta-title {
	overflow: hidden; margin-right: 76px; display: block;
}
.post-news .news-item .meta-time {
	top: 50%; width: 80px; height: 20px; text-align: right; right: 0px; color: rgb(153, 153, 153); line-height: 20px; margin-top: -10px; display: block; position: absolute;
}
#beginw61 .post-news .news-item {
	background: none; border: currentColor !important; border-image: none !important; float: left;
}
#endw61 .post-news .news-item {
	background: none; border: currentColor !important; border-image: none !important; float: left;
}
.wp-banner {
	background-color: rgb(236, 236, 236);
}
.wp-banner .wp-inner {
	position: relative;
}
.wp-banner .column-name {
	left: 6px; top: 50%; height: 24px; right: 6px; color: rgb(255, 255, 255); line-height: 24px; overflow: hidden; font-size: 20px; margin-top: -12px; display: none; position: absolute; text-shadow: 2px 2px 2px #000000;
}
.banner img {
	width: 100%; vertical-align: top;
}
.wp-column-menu {
	width: 220px; margin-right: -220px; float: left; position: relative; background-color: rgb(245, 245, 245);
}
.wp-column-news {
	background: rgb(236, 236, 236); margin: 10px 0px; padding: 0px 5%; width: 90%; float: right;
}
.wp-column-news1 {
	margin: 10px 0px; padding: 0px 5%; width: 90%; float: right;
}
.wp-column-news .column-news-box {
	
}
.column-head {
	background: rgb(54, 54, 54); line-height: 24px;
}
.column-head .column-anchor {
	padding: 10px;
}
.column-head .column-anchor .column-switch {
	background: url("img/menu-dot.png") no-repeat center; width: 30px; height: 24px; float: right; display: none;
}
.column-head .column-anchor h3.anchor-title {
	color: rgb(126, 126, 126); font-size: 18px; font-weight: normal; float: left; display: inline-block;
}
.column-list-wrap li {
	width: 100%; vertical-align: bottom;
}
.column-list-wrap li a {
	background: url("img/li.png") no-repeat 10px 19px rgb(238, 238, 238); width: 100%; color: rgb(56, 56, 56); font-size: 16px; border-bottom-color: rgb(179, 179, 179); border-bottom-width: 1px; border-bottom-style: solid; display: block;
}
.column-list-wrap li a:hover {
	color: rgb(229, 229, 229); text-decoration: none; background-color: rgb(100, 100, 100);
}
.column-list-wrap li.selected a.selected {
	color: rgb(255, 255, 255); background-color: rgb(99, 99, 99);
}
.column-list-wrap li a span {
	padding: 10px 10px 10px 20px; line-height: 22px; display: block;
}
.column-list-wrap .sub-list li a {
	background-position: 18px 11px; font-size: 14px; background-color: rgb(241, 241, 241);
}
.column-list-wrap .sub-list li a:hover {
	color: rgb(18, 18, 18); background-color: rgb(214, 214, 214);
}
.column-list-wrap .sub-list li.selected a.selected {
	background-position: 18px 11px; color: rgb(255, 255, 255); background-color: rgb(102, 102, 102);
}
.column-list-wrap .sub-list li a span {
	padding: 4px 10px 4px 28px; line-height: 18px;
}
.column-list-wrap .sub-list .sub-list li a {
	background-position: 26px 10px; font-size: 13px; background-color: rgb(245, 245, 245);
}
.column-list-wrap .sub-list .sub-list li.selected a.selected {
	background-position: 26px 10px;
}
.column-list-wrap .sub-list .sub-list li a span {
	line-height: 17px; padding-left: 36px;
}
.column-list-wrap .sub-list .sub-list .sub-list li a {
	background-position: 34px 13px;
}
.column-list-wrap .sub-list .sub-list .sub-list li.selected a.selected {
	background-position: 34px 13px;
}
.column-list-wrap .sub-list .sub-list .sub-list li a span {
	padding: 4px 10px 4px 44px;
}
.column-list-wrap .sub-list .sub-list .sub-list .sub-list li a span {
	padding: 4px 10px 4px 52px;
}
.list-head {
	background: rgb(236, 236, 236); padding: 10px 0px; width: 100%;
}
.list-meta .column-title {
	color: rgb(51, 51, 51); line-height: 24px; font-size: 18px; float: right; display: inline-block; white-space: nowrap;
}
.list-meta .column-path {
	width: 100%; color: rgb(0, 105, 134); line-height: 24px; font-size: 14px; float: right;
}
.list-meta .column-path a {
	color: rgb(0, 105, 134);
}
.list-meta .column-path a:hover {
	color: rgb(0, 105, 134);
}
.column-news-con {
	padding: 10px 0px;
}
.column-news-list .column-news-item {
	background: url("img/dot.png") no-repeat 2px 13px; padding: 5px 0px 5px 10px; line-height: 1.4em; border-bottom-color: rgb(177, 177, 177); border-bottom-width: 1px; border-bottom-style: dashed; display: block; position: relative;
}
.column-news-list .column-news-item:hover {
	color: rgb(0, 0, 0); background-color: rgb(247, 247, 247);
}
.column-news-list .column-news-item .column-news-title {
	margin-right: 76px; display: block;
}
.column-news-list .column-news-item .column-news-date {
	top: 5px; width: 80px; height: 20px; text-align: right; right: 0px; color: rgb(153, 153, 153); line-height: 20px; display: block; position: absolute;
}
.wp_entry {
	margin: 0px 4px; width: auto;
}
.wp_entry {
	text-align: justify; line-height: 1.7; font-size: 15px;
}
.wp_entry p {
	text-align: justify; line-height: 1.7; font-size: 15px;
}
.wp_entry p {
	margin-bottom: 11px;
}
.column-news-list .wp_entry img {
	vertical-align: middle; max-width: 100%;
}
.info_main {
	
}
.info-box {
	background: rgb(236, 236, 236); margin: 10px 0px; padding: 0px 5%; width: 90%; position: relative;
}
.article {
	padding: 15px 0px;
}
.article h1.arti-title {
	padding: 5px; text-align: center; color: rgb(40, 40, 40); line-height: 40px; font-weight: bold; border-bottom-color: rgb(236, 236, 236); border-bottom-width: 2px; border-bottom-style: solid;
}
.article .arti-metas {
	padding: 10px 0px; height: 16px; text-align: center; line-height: 16px;
}
.article .arti-metas span {
	margin: 0px 5px; color: rgb(120, 120, 120); font-size: 12px; display: inline-block;
}
.article .arti-metas .read-options {
	background: url("img/options.png") no-repeat 0px 50%; color: rgb(68, 68, 68); padding-left: 17px; text-decoration: none; float: right; display: none;
}
.article .entry {
	margin: 0px 4px; overflow: hidden;
}
.article .entry p {
	text-align: justify; line-height: 1.7; margin-bottom: 11px;
}
.article .entry span {
	
}
.article .entry .read img {
	background: url("img/loading.gif") no-repeat center; vertical-align: middle; max-width: 100%;
}
.night-model .wp-container {
	color: rgb(111, 111, 111); background-color: rgb(49, 49, 49);
}
.night-model .article .entry {
	color: rgb(111, 111, 111);
}
.night-model .article .entry p {
	color: rgb(111, 111, 111);
}
.night-model .read a {
	color: rgb(109, 109, 109);
}
.night-model .read a:hover {
	color: rgb(245, 245, 245);
}
.night-model .article h1.arti-title {
	color: rgb(231, 232, 233);
}
.read-setting {
	height: 38px; margin-bottom: 10px; border-bottom-color: rgb(241, 241, 241); border-bottom-width: 1px; border-bottom-style: solid; display: none; background-color: rgb(253, 253, 253);
}
.night-model .read-setting {
	border-color: rgb(49, 49, 49); background-color: rgb(29, 29, 29);
}
.read-setting .setting-item {
	width: 49%; height: 38px; float: left; display: inline-block;
}
.read-setting .setting-item a {
	width: 49%; height: 20px; text-align: center; color: rgb(86, 86, 86); line-height: 20px; font-size: 20px; margin-top: 9px; float: left; display: inline-block;
}
.read-setting .setting-item a:hover {
	color: rgb(153, 153, 153);
}
.read-setting .setting-item a.smaller-font {
	font-size: 18px; border-left-color: rgb(241, 241, 241); border-left-width: 1px; border-left-style: solid;
}
.read-setting .setting-model {
	text-align: center; border-left-color: rgb(241, 241, 241); border-left-width: 1px; border-left-style: solid;
}
.night-model .read-setting .setting-item a.smaller-font {
	border-left-color: rgb(49, 49, 49);
}
.night-model .read-setting .setting-model {
	border-left-color: rgb(49, 49, 49);
}
.read-setting .setting-model a.read-model {
	background: url("img/moon.png") no-repeat 0px 50%; margin: 9px auto; width: auto; padding-left: 24px; font-size: 18px; float: none;
}
.night-model .read-setting .setting-model a.read-model {
	background-image: url("img/sun.png");
}
.article .entry .set-fz18 {
	font-size: 18px;
}
.article .entry .set-fz18 p {
	font-size: 18px;
}
.article .entry .set-fz12 {
	font-size: 12px;
}
.article .entry .set-fz12 p {
	font-size: 12px;
}
.article .entry .set-fz14 {
	font-size: 14px;
}
.article .entry .set-fz14 p {
	font-size: 14px;
}
.article .entry .set-fz16 {
	font-size: 16px;
}
.article .entry .set-fz16 p {
	font-size: 16px;
}
.article .entry .set-fz18 {
	font-size: 18px;
}
.article .entry .set-fz18 p {
	font-size: 18px;
}
.article .entry .set-fz20 {
	font-size: 20px;
}
.article .entry .set-fz20 p {
	font-size: 20px;
}
.article .entry .set-fz22 {
	font-size: 22px;
}
.article .entry .set-fz22 p {
	font-size: 22px;
}
#bdshare {
	margin-top: 10px;
}
.view-box {
	color: rgb(102, 102, 102); font-style: normal; margin-bottom: 10px; display: block;
}
.view-box-inner {
	margin: 0px auto; text-align: center; display: block; position: relative; min-width: 30px; max-width: 400px;
}
.view-box-inner img {
	margin: 0px auto; width: auto; display: block;
}
.view-box-inner .open-view {
	width: 28px; height: 28px; right: 1px; bottom: 1px; display: block; position: absolute; z-index: 1;
}
.view-box-inner .view-icon {
	background: url("img/view-image.png") no-repeat center; width: 100%; height: 100%; display: block;
}
#wp-view-page {
	left: 0px; top: 0px; width: 100%; right: 0px; bottom: 0px; display: none; position: fixed; z-index: 10000000; background-color: rgb(26, 26, 26);
}
#view-head {
	left: 0px; top: 0px; width: 100%; height: 42px; position: absolute; z-index: 100;
}
#back-read-page {
	background: url("img/back-arrow.png") no-repeat center; left: 0px; top: 0px; width: 40px; height: 42px; position: absolute;
}
#back-read-page span {
	display: none;
}
#view-original-image {
	margin: 12px 12px 0px 0px; width: 40px; height: 22px; text-align: center; color: rgb(255, 255, 255); line-height: 22px; font-size: 15px; float: right; display: block; background-color: rgba(255, 255, 255, 0.1);
}
#view-foot {
	left: 0px; width: 100%; height: 42px; bottom: 0px; color: rgb(255, 255, 255); line-height: 42px; font-size: 14px; position: absolute; z-index: 99; opacity: 0.8; background-color: rgba(0, 0, 0, 0.7);
}
#view-index {
	margin-left: 10px; float: left;
}
#view-current {
	color: rgb(52, 149, 255);
}
#view-title {
	left: 60px; top: 10px; height: 22px; color: rgb(255, 255, 255); line-height: 22px; overflow: hidden; position: absolute;
}
#view-body {
	width: 100%; height: 100%; position: relative;
}
#view-image-items {
	left: 0px; top: 0px; width: 100%; height: 100%; overflow: hidden; position: absolute;
}
#view-image-items li {
	background: no-repeat center / contain; text-align: center; float: left; -webkit-background-size: contain;
}
.wp-footer {
	background-color: rgb(0, 105, 134);
}
.wp-footer .wp-inner {
	padding: 25px 0px;
}
.wp-footer .wp-inner .footer {
	margin: 10px 0px 0px; width: 79%; text-align: left; color: rgb(255, 255, 255); font-size: 12px; float: left;
}
.wp-footer .wp-inner .footer span {
	margin: 0px;
}
.wp-footer .wp-inner .footer a {
	margin: 0px; color: rgb(221, 221, 221); font-size: 14px;
}
.wp-footer .wp-inner .footer a:hover {
	color: rgb(221, 221, 221); text-decoration: underline;
}
.wp-footer .wp-inner .foot_link {
	width: 21%; float: right;
}
#jumphandle {
	width: 32px; height: 70px; right: 6px; bottom: 20px; display: none; position: fixed; z-index: 100000000;
}
#jumphandle a {
	background: url("img/jump-icon.png") no-repeat 0px top rgb(119, 119, 119); width: 32px; height: 32px; display: block; opacity: 0.7;
}
#jumphandle a#gobot {
	background-position: 0px bottom; margin-top: 6px;
}
.content_news {
	background: rgb(0, 105, 134); margin: 10px 0px; padding: 0px 5% 0px 0px; width: 95%; height: 25px;
}
.content_news .post-body {
	padding: 0px 0px 0px 40px;
}
.content_news .post-body td {
	height: 26px; padding-left: 10px;
}
.content_news .post-body td a {
	color: rgb(255, 255, 255); font-size: 12px;
}
.sidebar .bottom .sudy-tab .tab-menu {
	height: 20px; border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.sidebar .bottom .sudy-tab .tab-menu li {
	background: url("../images/ls-16.png") no-repeat left; padding: 0px 0px 0px 30px; width: 60px; height: 30px; color: rgb(55, 99, 126); line-height: 30px; font-family: "Î¢ÈíÑÅºÚ"; font-size: 14px; font-weight: bold; float: left; display: inline-block;
}
.sidebar .bottom .sudy-tab .tab-menu li.selected {
	background: url("../images/ls-4.png") no-repeat left rgb(0, 105, 134); color: rgb(255, 255, 255);
}
.sidebar .bottom .sudy-tab .tab-list .more {
	background: url("../images/ls-3.png") no-repeat center; top: -40px; width: 50px; height: 13px; right: 7px; position: absolute; z-index: 10;
}
.sidebar .bottom .sudy-tab .tab-list .cbox {
	padding: 0px; color: rgb(0, 0, 0); font-family: "Microsoft YaHei"; position: relative;
}
.content1_left .bottom .sudy-tab-o .tab-menu {
	height: 20px; border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.content1_left .bottom .sudy-tab-o .tab-menu li {
	background: url("../images/ls-16.png") no-repeat left; padding: 0px 5px 0px 30px; width: 60px; height: 27px; color: rgb(55, 99, 126); line-height: 27px; font-family: "Î¢ÈíÑÅºÚ"; font-size: 14px; font-weight: bold; float: left; display: inline-block;
}
.content1_left .bottom .sudy-tab-o .tab-menu li.selected {
	background: url("../images/ls-4.png") no-repeat left rgb(0, 105, 134); color: rgb(255, 255, 255);
}
.content1_left .bottom .sudy-tab-o .tab-list .more {
	background: url("../images/ls-3.png") no-repeat center; top: -20px; width: 50px; height: 13px; right: 7px; position: absolute; z-index: 10;
}
.content1_left .bottom .sudy-tab-o .tab-list .cbox {
	padding: 5px 0px; color: rgb(0, 0, 0); font-family: "Microsoft YaHei"; position: relative;
}
.mod_ts {
	width: 100%; float: left;
}
.mod_jd {
	width: 100%; float: left;
}
.pc_mod {
	background: rgb(238, 238, 238); display: none;
}
.pc_mod .wp-post .post-head .post-more {
	background: url("../images/ls-3.png") no-repeat center; top: 50%; width: 37px; height: 20px; right: 0px; line-height: 20px; margin-top: -10px; position: absolute;
}
.pc_mod .wp-post .post-head .post-more a {
	color: rgb(66, 66, 66); text-decoration: none;
}
.pc_mod .wp-post .post-title {
	color: rgb(0, 105, 134); font-size: 14px; font-weight: bold;
}
.content_3 .wp-post .post-title {
	background: url("../images/ls-4.png") no-repeat left rgb(0, 105, 134); padding: 0px 0px 0px 30px; width: 70px; color: rgb(255, 255, 255); font-size: 14px; font-weight: bold;
}
.content3_right .wp-post .post-title {
	background: url("../images/ls-41.png") no-repeat left rgb(0, 105, 134); padding: 0px 0px 0px 30px; width: 70px; color: rgb(255, 255, 255); font-size: 14px; font-weight: bold;
}
.content_3 .wp-post .post-head .post-more {
	background: url("../images/ls-3.png") no-repeat left; top: 50%; width: 45px; height: 20px; right: 0px; line-height: 20px; margin-top: -10px; position: absolute;
}
.content_1 {
	margin: 0px 0px 10px; width: 100%; float: left;
}
.content_2 {
	background: url("../images/content_nav.png") repeat-y left top; margin: 0px 0px 10px; width: 100%; float: left;
}
.content_3 {
	width: 100%; float: left;
}
.content1_left {
	background: rgb(236, 236, 236); width: 65%; float: left;
}
.content1_right {
	background: rgb(236, 236, 236); margin: 0px 3px 0px 0px; border: 1px solid rgb(0, 105, 134); border-image: none; width: 32%; float: right;
}
.content2_nav {
	width: 163px; float: left;
}
.content2_nav2 {
	width: 160px; float: left;
}
.content3_left {
	background: rgb(236, 236, 236); width: 48.97%; float: left;
}
.content3_right {
	background: rgb(236, 236, 236); width: 48.97%; float: right;
}
.fh {
	left: 50%; bottom: 20px; margin-left: 523px; position: absolute; z-index: 3;
}
.list1 .column-path {
	background: rgb(237, 237, 237);
}
.column-news-item2 {
	width: 275px; float: left;
}
#wp_nav_w68 .wp_nav .nav-item a span.item-name {
	background: url("../images/li_3.gif") no-repeat 80%; padding: 0px; width: 100%; text-align: center; color: rgb(0, 105, 134); font-size: 12px;
}
#wp_nav_w68 .wp_nav .nav-item {
	padding: 0px; width: 100%; height: 26.8px; border-bottom-color: rgb(0, 105, 134); border-bottom-width: 1px; border-bottom-style: solid;
}
#wp_nav_w68 .wp_nav .i1.nav-item {
	background: url("../images/nav1.png") no-repeat 23%;
}
#wp_nav_w68 .wp_nav .i2.nav-item {
	background: url("../images/nav2.png") no-repeat 23%;
}
#wp_nav_w68 .wp_nav .i3.nav-item {
	background: url("../images/nav3.png") no-repeat 23%;
}
#wp_nav_w68 .wp_nav .i4.nav-item {
	background: url("../images/nav4.png") no-repeat 23%;
}
#wp_nav_w68 .wp_nav .i5.nav-item {
	background: url("../images/nav5.png") no-repeat 23%;
}
#wp_nav_w68 .wp_nav .i6.nav-item {
	background: url("../images/nav6.png") no-repeat 23%;
}
#wp_nav_w68 .wp_nav .i7.nav-item {
	background: url("../images/nav7.png") no-repeat 23%; border: currentColor; border-image: none;
}
#wp_news_w101 .wp_article_list .list_item {
	height: 25px; line-height: 25px; border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
#wp_news_w101 .wp_article_list .list_item .Article_Index {
	background: url("../images/li_1.png") no-repeat left; height: 25px;
}
#wp_news_w103 .wp_article_list .list_item {
	height: 25px; line-height: 25px; border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
#wp_news_w103 .wp_article_list .list_item .Article_Index {
	background: url("../images/li_1.png") no-repeat left; height: 25px;
}
.wp_article_list .list_item .Article_Index {
	background: url("../images/li_1.png") no-repeat left; width: 10px; height: 20px; float: left;
}
.wp_article_list .list_item .Article_Title {
	width: 86%; float: left;
}
.wp_article_list .list_item .Article_Title a {
	font-family: "ËÎÌå"; font-size: 12px;
}
.wp_article_list .list_item {
	height: 21px; border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.wp_article_list .list_item .pr_fields {
	width: 100%;
}
#wp_news_w9 .wp_article_list .list_item .pr_fields {
	width: 70%; float: left;
}
.column-news-list .wp_article_list .list_item {
	line-height: 25px; margin-left: 20px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: dashed; float: left; position: relative; min-height: 25px;
}
#wp_nav_w72 .wp_nav .nav-item {
	padding: 0px; width: 100%;
}
#wp_nav_w72 .wp_nav .nav-item a span.item-name {
	background: url("../images/ls-12.png") no-repeat 5px; padding: 2px 0px; width: 100%; color: rgb(0, 105, 134); font-family: "Microsoft Yahei"; font-size: 12px; font-weight: bold;
}
#wp_nav_w71 .wp_nav .nav-item {
	padding: 0px; width: 100%;
}
#wp_nav_w71 .wp_nav .nav-item a span.item-name {
	background: url("../images/ls-12.png") no-repeat 3px; padding: 0px 0px 0px 8%; width: 92%; color: rgb(0, 105, 134); line-height: 24px; overflow: hidden; font-family: "Microsoft Yahei"; font-size: 12px; font-weight: bold; white-space: nowrap; -ms-text-overflow: ellipsis;
}
.content1_right .wp_nav .nav-item a span.item-name {
	line-height: 26px;
}
#wp_nav_w105 .wp_nav .i1.nav-item {
	background: none; border-width: 1px 1px 1px medium; border-style: solid solid solid none; border-color: rgb(89, 153, 171) rgb(89, 153, 171) rgb(89, 153, 171) currentColor; padding: 0px; border-image: none; width: 100%; height: 24px;
}
#wp_nav_w105 .wp_nav .i1.nav-item a span.item-name {
	background: url("../images/ls-12.png") no-repeat 5px; padding: 2px 0px; width: 100%; color: rgb(0, 105, 134); font-family: "Microsoft Yahei"; font-size: 12px; font-weight: bold;
}
#wp_nav_w105 .wp_nav .i2.nav-item {
	border-width: 1px 1px 1px medium; border-style: solid solid solid none; border-color: rgb(89, 153, 171) rgb(89, 153, 171) rgb(89, 153, 171) currentColor; padding: 0px; border-image: none; width: 100%; height: 24px;
}
#wp_nav_w105 .wp_nav .i2.nav-item a span.item-name {
	background: url("../images/ls-12.png") no-repeat 5px; padding: 2px 0px; width: 100%; color: rgb(0, 105, 134); font-family: "Microsoft Yahei"; font-size: 12px; font-weight: bold;
}
#wp_nav_w105 .wp_nav .i3.nav-item {
	border-width: 1px 1px 1px medium; border-style: solid solid solid none; border-color: rgb(89, 153, 171) rgb(89, 153, 171) rgb(89, 153, 171) currentColor; padding: 0px; border-image: none; width: 100%; height: 24px;
}
#wp_nav_w105 .wp_nav .i3.nav-item a span.item-name {
	background: url("../images/ls-12.png") no-repeat 5px; padding: 2px 0px; width: 100%; color: rgb(0, 105, 134); font-family: "Microsoft Yahei"; font-size: 12px; font-weight: bold;
}
.articlelist1_a_title {
	color: rgb(255, 255, 255); font-size: 12px;
}
.news_icon {
	display: none;
}
.sidebar .bottom .sudy-tab .tab-list {
	margin: 25px 0px 0px 5px;
}
.more a {
	width: 30px; height: 10px; display: block;
}
.post-more a {
	width: 30px; height: 10px; display: block;
}
.banner1 {
	margin: 0px auto; width: auto; height: auto; max-width: 998px;
}
.head1 {
	margin: 0px auto; width: auto; height: 30px; max-width: 998px;
}
#head1 {
	background-color: rgb(0, 105, 134);
}
.head_search1 {
	width: 345px; font-size: 13px; margin-top: 5px; float: right;
}
.head-rp {
	width: 185px; float: left;
}
.img_detail {
	margin: 0px 30px 10px 0px; float: left;
}
.img_list {
	width: 930px;
}
.window-4.top-nav-window.wp-window {
	
}
.wp_search .search {
	background: url("../images/search.jpg") no-repeat 3px 5px rgb(255, 255, 255); margin: 0px 0px 0px 2px; width: 26px; height: 25px;
}
.banner1 img {
	
}
.panel-5.main-nav-panel.wp-panel {
	background-color: rgb(0, 105, 134);
}
.possplit {
	background: url("../images/posi.png") no-repeat center; width: 15px;
}
.focus-box.focus5 {
	width: 489px !important; height: 331px !important;
}
.focus5 .focus-container {
	width: 489px !important; height: 331px !important;
}
.focus-box.focus1 {
	width: 489px !important; height: 331px !important;
}
.focus1 .focus-container {
	width: 489px !important; height: 331px !important;
}
#catalog {
	background: none; margin: 0px 10px 0px 0px; border: 1px solid rgb(255, 255, 255); border-image: none; width: 96px;
}
#localtime font {
	color: rgb(255, 255, 255);
}
.menu-item {
	height: 30px;
}
.h_l {
	padding: 95px 0px 0px; float: right;
}
.post-7.wp-post .more {
	right: 0px; position: relative;
}
.post-7.wp-post .more a {
	top: -24px; right: -3%; color: rgb(255, 255, 255); position: absolute;
}
#w61scrollnews3_news1 {
	width: 2000px !important; height: 24px;
}
.list_detail {
	width: 100%; border-bottom-color: rgb(51, 51, 51); border-bottom-width: 1px; border-bottom-style: solid;
}
.list_detail_1 {
	width: 70%; height: 30px; text-align: center; line-height: 30px; float: left;
}
.list_detail_2 {
	width: 15%; height: 30px; text-align: center; line-height: 30px; float: left;
}
.wp_article_list .list_item .Article_DynaVisitCount {
	margin: 0px; width: 50%; text-align: center; vertical-align: top; float: right; display: inline-block;
}
.wp_article_list .list_item .Article_PublishDate {
	margin: 0px; width: 50%; text-align: center; color: rgb(102, 102, 102); float: left;
}
.wp_article_list .list_item .ex_fields {
	width: 30%; float: right; display: inline;
}
.lb {
	width: 21px; height: 18px; padding-top: 4px; float: left;
}
span.Article_NewIcon {
	left: -27px; position: absolute;
}
#wp_news_w61 a {
	margin: 0px 10px; width: auto; height: 22px; color: rgb(255, 255, 255); line-height: 22px; font-size: 12px;
}
.sybz {
	width: 30px; height: 30px;
}
.sybz img#imgConac {
	width: 30px; height: 30px;
}
